@import url(/stylesheet.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Circular Sp Cyr Black Web";
}

.light-theme {
  --background-base: #fff;
  --background-highlight: #f6f6f6;
  --background-press: #b7b7b7;
  --background-elevated-base: #fff;
  --background-elevated-highlight: #f6f6f6;
  --background-elevated-press: #b7b7b7;
  --background-tinted-base: rgba(0, 0, 0, 0.08);
  --background-tinted-highlight: rgba(0, 0, 0, 0.05);
  --background-tinted-press: rgba(0, 0, 0, 0.12);
  --background-unsafe-for-small-text-base: #fff;
  --background-unsafe-for-small-text-highlight: #fff;
  --background-unsafe-for-small-text-press: #fff;
  --scrollbar-color: rgba(0, 0, 0, 0.5);
  --scrollbar-hover: rgba(0, 0, 0, 0.6);
  --text-base: #000;
  --text-subdued: #6a6a6a;
  --text-bright-accent: #117a37;
  --text-negative: #d31225;
  --text-warning: #9d5a00;
  --text-positive: #117a37;
  --text-announcement: #0c67d3;
  --essential-base: #000;
  --essential-subdued: #878787;
  --essential-bright-accent: #169b45;
  --essential-negative: #e91429;
  --essential-warning: #c77200;
  --essential-positive: #169b45;
  --essential-announcement: #0d72ea;
  --decorative-base: #000;
  --decorative-subdued: #dedede;
}

.dark-theme {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0, 0%, 100%, 0.07);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
  --background-tinted-press: hsla(0, 0%, 100%, 0.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --scrollbar-color: rgba(255, 255, 255, 0.3);
  --scrollbar-hover: rgba(255, 255, 255, 0.4);
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

body {
  background: var(--background-press);
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.root {
  width: 100vw;
  height: 100vh;
  min-height: 50vh;
  padding: 8px;
  display: grid;
  grid-template-areas:
    "left-sidebar main right-sidebar"
    "left-sidebar main right-sidebar"
    "bottom bottom bottom";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr 80px;

  .main {
    z-index: 99;
    grid-area: main;
    background-color: var(--background-base);
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &:hover {
      scrollbar-color: var(--scrollbar-color) transparent;
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        &:hover {
          background-color: var(--scrollbar-hover);
        }
      }
    }
    .top {
      position: sticky;
      top: 0;
      height: 60px;
      background-color: rgba(255, 0, 0, 0.265);
      padding: 10px;
    }
    .content {
      margin: 20px 13px 20px 20px;
      height: 800px;
    }
    footer {
      margin-top: 20px;
      height: 200px;
      background: #a21122;
    }
  }

  .left-sidebar {
    user-select: none;
    border-radius: 8px;
    grid-area: left-sidebar;
    margin-right: 6px;
    width: 290px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2px;

    .left-sidebar__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-radius: 8px;
      height: 100%;
      .left-sidebar__top {
        background-color: var(--background-base);
        border-radius: inherit;
        ul {
          padding: 8px 12px;
          li {
            list-style: none;
            .home-active-icon {
              display: none;
            }
            .search-active-icon {
              display: none;
            }
            &.active {
              .home-icon {
                display: none;
              }
              .home-active-icon {
                display: block;
              }
              .search-icon {
                display: none;
              }
              .search-active-icon {
                display: block;
              }
              a {
                opacity: 1;
              }
            }
            a {
              height: 40px;
              transition: 0.5s ease;
              color: var(--text-subdued);
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 20px;
              span {
                color: var(--text-base);
                font-size: 16px;
                margin-top: 3px;
              }
              svg {
                fill: var(--text-base);
              }
              opacity: 0.7;
              &:hover {
                opacity: 1;
              }
            }
            padding: 4px 12px;
          }
        }
      }
      .left-sidebar__bottom {
        flex-grow: 1;
        height: 200px;
        background-color: var(--background-base);
        border-radius: inherit;

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin: 0px 16px;
          margin-top: 4px;
          .media {
            .show-media {
              padding-top: 12px;
              display: none;
            }
            .hide-media {
              flex-shrink: 0;
              background-color: transparent;
              position: relative;
              text-align: center;
              user-select: none;
              vertical-align: middle;
              min-block-size: 48px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              svg {
                min-height: 24px;
                min-width: 24px;
              }
            }
          }

          button {
            position: relative;
            fill: var(--text-base);
            color: var(--text-base);
            border: none;
            background: none;
            display: flex;
            align-items: flex-start;

            gap: 12px;
            font-size: 16px;
            opacity: 0.6;
            cursor: pointer;
            transition: opacity 0.3s ease;
            span {
              margin-top: 3px;
            }
            padding: 8px;
            border-radius: 50%;
            &:hover {
              opacity: 1;
              .tooltip {
                opacity: 1;
              }
            }
          }

          .activities {
            button:hover {
              background: #ffffff08;
            }
            display: flex;
            align-items: center;
            gap: 8px;

            .collapse {
              display: none;
            }
          }
        }
        &-sorting {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin: 11px 16px 0;

          .sorting__left {
            display: flex;
            gap: 8px;
            button {
              padding: 10px 12px 8px;
              border-radius: 20px;
              font-size: 14px;
              border: none;
              background: var(--background-tinted-base);
              color: var(--text-base);
              cursor: pointer;
            }
          }
          .sorting__right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 6px;
            gap: 20px;
            color: var(--text-base);
            fill: var(--text-base);
            .filter {
              display: flex;
              align-items: center;
              button {
                border: none;
                background: none;
                cursor: pointer;
                opacity: 0.7;
                height: 32px;
                border-radius: 50%;
                svg {
                  margin: 8px;
                }
                &:hover {
                  opacity: 1;
                  background: #ffffff10;
                }
              }
              input {
                width: 0;
                border: none;
                background: none;
              }
            }
            .drop {
              p {
                font-size: 14px;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    #left-sidebar__resize {
      position: relative;
      width: 2px;
      opacity: 0.7;
      cursor: col-resize;
      opacity: 0.3;
      &:hover {
        border-left: 1px solid white !important;
      }
      input {
        visibility: hidden;
      }
    }
    &.show {
      .expand {
        display: none;
      }
      .collapse {
        display: flex !important;
        gap: 8px;
      }
      .left-sidebar__bottom {
        &-sorting {
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    &.hide {
      width: 72px !important;
      margin-right: 8px;
      .left-sidebar__top {
        ul {
          li {
            span {
              display: none;
            }
          }
        }
      }
      .left-sidebar__bottom {
        header {
          .media {
            .show-media {
              display: block;
            }
            .hide-media {
              display: none;
            }
          }
          .activities {
            display: none;
          }
        }
        &-sorting {
          display: none;
        }
      }
    }
  }

  .right-sidebar {
    display: none;
    grid-area: right-sidebar;
    background-color: var(--background-base);
    width: 200px;
    margin-left: 8px;
    padding: 10px;
    border-radius: 8px;
  }

  .bottom {
    user-select: none;
    margin-top: 10px;
    z-index: 5;
    grid-area: bottom;
    background-color: var(--background-press);
    width: 100%;
    padding: 0 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right-section {
      display: flex;
      align-items: center;
      gap: 15px;
      min-width: 30%;
      .artits-img {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .context {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1px;
        margin-bottom: 2px;
        a {
          text-decoration: none;
        }
        .item-info-title {
          color: var(--text-base);
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
        .item-info-subtitles {
          color: var(--text-base);
          font-size: 11px;
          opacity: 0.6;
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
      button {
        border: none;
        background: none;
        cursor: pointer;
        label {
          position: relative;
          width: auto;
          height: auto;
        }

        svg {
          height: 18px;
          overflow: visible;
          cursor: pointer;
          opacity: 0.7;
          &:hover {
            opacity: 1;
            scale: 1.05;
          }
          &.shake {
            animation: shake 0.5s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
            animation-delay: 0.2s;
          }
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          width: 20px;
          height: 20px;
          position: relative;
          display: grid;
          place-content: center;
          #center-heart {
            #inner {
              fill: transparent;
              transition: 0.2s ease;
            }
            #outer {
              fill: white;
              transition: 0.2s ease;
            }
          }
          #left-hearts > *,
          #right-hearts > * {
            opacity: 0;
            transition: 0.2s ease;
          }
        }

        input[type="checkbox"]:checked + label {
          cursor: pointer;

          svg {
            opacity: 1;
          }
          &::before,
          &::after {
            content: "";
            display: grid;
            border-radius: 100%;
            position: absolute;
            outline: 10px solid var(--essential-bright-accent);
            height: 22px;
            width: 25px;
            animation: scalePulse 0.3s cubic-bezier(0.12, 0.84, 0.5, 0.44)
              forwards;
          }

          &::after {
            opacity: 1;
            transform: scale(0);
            animation-delay: 0.2s;
          }
          #center-heart {
            #inner {
              fill: var(--essential-bright-accent);
            }
            #outer {
              fill: var(--essential-bright-accent);
            }
          }
          #left-hearts > *,
          #right-hearts > * {
            transform-origin: center center;
            animation: floatingHearts 0.65s cubic-bezier(0.12, 0.84, 0.5, 0.44)
              forwards;
          }
          #right-hearts {
            g:first-child {
              animation-delay: 0.3s;
            }
            g:last-child {
              animation-delay: 0.1s;
            }
          }
          #left-hearts {
            g:first-child {
              animation-delay: 0.2s;
            }
            g:last-child {
              animation-delay: 0.5s;
            }
          }
        }

        @keyframes shake {
          0% {
            transform: translate(-3px, 0) rotate(-3deg);
          }
          25% {
            transform: translate(2px, 0px) rotate(2deg);
          }
          50% {
            transform: translate(-1px, 0px) rotate(1deg);
          }
          100% {
            transform: translate(0px, 0px) rotate(0deg);
          }
        }

        @keyframes floatingHearts {
          0% {
            opacity: 0;
            transform: translateY(10px);
          }

          50% {
            opacity: 0.5;
          }

          100% {
            opacity: 0;
            transform: translateY(-50px);
          }
        }

        @keyframes scalePulse {
          from {
            transform: scale(0);
          }

          to {
            transform: scale(1);
            opacity: 0;
          }
        }
      }
    }

    .player-controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      width: 100%;

      &__buttons {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 8px;
        .player-controls__left,
        .player-controls__right {
          display: flex;
          align-items: center;
          gap: 20px;
          button {
            position: relative;
            &::after {
              display: none;
              content: "";
              position: absolute;
              left: 50%;
              bottom: -5px;
              translate: -50% 0;
              background: var(--essential-bright-accent);
              width: 4px;
              height: 4px;
              border-radius: 50%;
            }
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
            &.active {
              &::after {
                display: block;
              }
              svg {
                fill: var(--essential-bright-accent);
              }
            }
          }
        }
        .play {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          margin-top: -4px;
          &:hover {
            scale: 1.05;
          }
          svg {
            fill: #000;
            width: 16px;
            height: 16px;
          }
        }

        button {
          cursor: pointer;
          background: none;
          border: none;
          svg {
            fill: var(--text-base);
          }
        }
      }
      .playback-bar {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        margin-bottom: 5px;
        gap: 8px;
        .playback-time {
          font-size: 11px;
          margin-bottom: -4px;
          opacity: 0.7;
        }

        .playback-progressbar {
          input[type="range"] {
            visibility: hidden;
            display: none;
          }
          .progress-bar {
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: #4d4d4d;
            margin-top: 4px;
            &:hover {
              .progress-bar-background {
                background: var(--essential-bright-accent);
                &::after {
                  display: block;
                }
              }
            }
            &-background {
              position: relative;
              width: 50%;
              height: 100%;
              border-radius: 5px;
              background: var(--text-base);
              &::after {
                content: "";
                cursor: pointer;
                display: none;
                position: absolute;
                right: 0;
                top: 50%;
                translate: 0 -50%;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: var(--text-base);
              }
            }
          }
        }
      }
    }

    .left-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      min-width: 30%;

      button {
        display: flex;
        align-items: center;
        background: none;
        outline: none;
        border: none;
        fill: var(--text-base);
        opacity: 0.7;
        cursor: pointer;
        &:hover {
          opacity: 1;
          scale: 1.05;
        }
        span {
          height: 16px;
        }
      }

      .volume {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        fill: var(--text-base);
        svg {
          opacity: 0.7;
          cursor: pointer;
          &:hover {
            opacity: 1;
            scale: 1.05;
          }
        }
        input {
          width: 90px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------- */

/* Стили для tooltip-контейнера (класс .tippy-box) */
.tippy-box {
  .tippy-content {
    padding: 5px 7px 4px !important;
  }
  background-color: #333;
  color: #fff;
  font-family: "Circular Sp Cyr Book Web", sans-serif;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
